.add-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* background: lightgray; */
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
    padding: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add-recipe-form h4 {
    margin-top: 0;
}

.centered {
    text-align: center;
}

.button-center {
    display: flex;
    justify-content: center;
}

.add-recipe-form .ui.teal.label, 
.add-recipe-form .ui.teal.labels .label {
    background-color: rgb(76, 196, 155)!important;
    border-color: rgb(76, 196, 155)!important;
}

.add-recipe-form .ui.teal.label, 
.add-recipe-form .ui.teal.labels .label {
    background: linear-gradient(to bottom, rgb(76, 196, 155), #191654)!important;
    border-color: rgb(76, 196, 155)!important;
}

.add-recipe-form .ui.pointing.label:before {
    background: linear-gradient(to bottom right, #292567, #191654) !important;
    border-color:  #191654;
}

.add-recipe-form .ui.input>input:focus {
    border-color:  #191654;
}

.add-recipe-form-top textarea:focus {
    border-color:  #191654 !important;
}

.add-recipe-form .ui.teal.message {
    background-color: rgb(240, 255, 250);
    color: rgb(76, 196, 155);
    -webkit-box-shadow: 0 0 0 1px rgb(76, 196, 155) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgb(76, 196, 155) inset, 0 0 0 0 transparent;
}

.add-form-quantity-inputs {
    display: flex;
    justify-content: space-between !important;
    margin: 1em 0;
}

.add-form-quantity-inputs #itemQuantity {
    width: 30%;
} 

.queued-ingredient {
    display: flex;
    justify-content: space-between;
}

.queued-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}