.ingredient-card {
    background: lightgray;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: .5em;
}

.recipe-card-title {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: .5em;
}

.recipe-card-title h3 {
    font-size: 1.5em;
    text-align: center;
    width: 70%;
}