/* .recipe-card {
    background: lightgray;
} */

.ingredient-card {
    margin: 1em auto !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5em;
}

.recipe-card-title {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: .5em;
    background: white;   
}

.recipe-title {
    text-align: left;
    font-size: 1.5em;
    width: 70%;
}
