.grocery-build-flex {
    display: flex;
    justify-content: space-around;
}

.grocery-build-left {
    width: 60%;
}

.grocery-build-right {
    width: 25%;
}

.recipe-ingredient-flex {
    display: flex;
    justify-content: space-between;
}

.onHand-flex {
    display: flex;
    justify-content: space-between;
}

.sold-out {
    color: red;
}

.in-stock {
    color: green;
}
.low-stock {
    color: blue;
}

.build-modal-footer {
    padding: 1rem 1rem;
    background: linear-gradient(to left, #f7976775, #f8f8f9, rgba(165, 223, 204, 0.6)) !important;
}

.cancel-red-bg {
    background: linear-gradient(to top right, #f8f8f9, rgba(223, 165, 165, 0.6)) !important;
}
