.grocery-item-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: .5em auto;
}

.grocery-item-name {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.grocery-item-name span {
    display: block;
}

.small-span {
    color: lightgray;
    font-size: .8em;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

.flex-title {
    width: 70%;
    text-align: center;
}