.align-center {
    text-align: center;
}

.grocery-buy {
    display: flex;
    justify-content: space-around;
}

.grocery-buy-resolved {
    display: flex;
    justify-content: space-between;
}

.buy-title {
    padding-top: .3em;
    text-align: center;
    width: 25%;
}

.buy-inputs {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.buy-inputs input {
    width: 45% !important;
    margin-right: .5em !important;
}

.purchase-grocery-footer {
    padding: 1rem 1rem;
    background: linear-gradient( #f8f8f9, rgba(165, 223, 204, 0.6)) !important;
}