.user-view {
    display: flex;
    justify-content: space-around;
    padding-top: 8em;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1484412509196-57eda96981e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d17184680af7feac868978177c75c5ba&auto=format&fit=crop&w=1650&q=80") no-repeat fixed;
    background-size: cover;
}

.left-container {
    width: 40%;
}

.right-container {
    width: 40%
}

.tab-container {
    background: black;
    margin: 2em 0;
    padding: .5em;
    border-radius: 5px;
}

.main-tabs {
    background: teal !important;
    display: flex !important;
    justify-content: center !important;
}

.ui.secondary.pointing.menu {
    border-bottom: 2px solid rgba(76, 196, 156,.35);
    background-color: black;
    border-radius: 5px;
}

.ui.secondary.pointing.menu .active.item {
    border-color: rgba(76, 196, 156, 0.8) !important;
    color: rgba(76, 196, 156, 0.8) !important;
}

.ui.secondary.pointing.menu .item {
    border-color: rgba(76, 196, 156, 0.5) !important;
    color: rgba(76, 196, 156, 0.5) !important;
}

.ui.secondary.pointing.menu .item:hover {
    border-color: rgb(76, 196, 155) !important;
    color: rgb(76, 196, 155) !important;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: rgb(76, 196, 155) !important;
    color: rgb(76, 196, 155) !important;
}

.cook-chart {
    /* background: whitesmoke; */
    border-radius: 5px;
    padding-bottom: 1em;
}

.ui.menu {
    justify-content: center;
}

.white {
    background: white;
}
