.login-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1511690169676-bb4e7af210db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04fbd962d672ada6020f7f272225ffc4&auto=format&fit=crop&w=802&q=80") no-repeat fixed;
    background-size: cover;
    background-position-y: -200px;
}

.login-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: .8em;
}

.logo {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
}

.login-header h4 {
    padding-top: 30%;
    color: rgb(76, 196, 155);
    margin: 0 .5em;
}

.error-p {
    margin: 0;
    text-align: center;
    color: rgb(201, 0, 0);
    font-size: .8em;
}

.error-input {
    border: rgb(201, 0, 0) solid 3px !important;
    border-radius: 2px;
}

.form-collection {
    width: 350px;
    height: 350px;
    margin: 15% auto;
}

.limit-width {
    width: 330px;
}

.absolute-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 27.2px;
    font-size: 1.7rem;
    font-weight: 300;
    padding: 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.form-collection {
    z-index: 2;
}

.login-card {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(to top, #ece9e6, #ffffff);
    position: absolute;
    transition: 0.3s ease all;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-body h5 {
    text-align: center;
}

.card-footer {
    padding: 0 !important;
    border: none !important;
}

.box-btn {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    background: rgba(0, 0, 0, 0);
    transition: 0.2s ease all;
    border-radius: 3px;
}

.box-btn:hover {
    background: rgba(0, 0, 0, 0.06);
}

.box-btn:active {
    background: rgba(0, 0, 0, 0.1);
}

.input-group {
    border: linear-gradient(to bottom, #fdc830, #f79767);
    position: relative;
    background: linear-gradient(to bottom, #fdc830, #f79767);
    margin: 1em 0;
    margin-top: .2em;
    border-radius: 2px;
    overflow: hidden;
    padding: 10px;
}

.input-group input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(244, 244, 244);
    text-shadow: .3px .3px black;
}

.input-group input::placeholder {
    color: rgb(244, 244, 244);
    text-shadow: .3px .3px black;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 10px;
    font-weight: 500;
    color: #aaa;
}

.card-footer button {
    width: 100%;
    padding: 25px;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(to bottom, rgb(76, 196, 155), #191654);
    border: none;
    color: #fff;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.signup-button button {
    background: linear-gradient(to bottom, #fdc830, #f37335);
}

.log-in-card .input-group {
    border: linear-gradient(to bottom, rgb(76, 196, 155), #191654);
    position: relative;
    background: linear-gradient(to bottom, rgb(76, 196, 155), #191654);
    margin: 1em 0;
    margin-top: .2em;
    border-radius: 2px;
    overflow: hidden;
    padding: 10px;
}

.above {
    z-index: 1;
}

.below {
    z-index: 0;
}

.turned {
    opacity: 0.8;
}

.sign-up-card, .log-in-card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sign-up-card.turned {
    filter: blur(0.8px);
    transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.log-in-card.turned {
    filter: blur(1px);
    transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-state-1 .sign-up-card.below {
    transform: rotateZ(-7deg) translateY(150px) scale(0.78);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0.4px);
}

.animation-state-1 .log-in-card.above {
    transform: rotateZ(-83deg) translateY(-180px) translateX(100px) scale(0.78);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0.5px);
}

.animation-state-finish .sign-up-card.above {
    transform-origin: left top;
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0);
}

.animation-state-finish .log-in-card.below {
    transform: rotateZ(-90deg) translateX(0px) translateY(100px) scale(0.7);
    opacity: 0.8;
    filter: blur(1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.animation-state-1 .log-in-card.below {
    transform: rotateZ(-10deg) translateY(180px) scale(0.78);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0.5px);
}

.animation-state-1 .sign-up-card.above {
    transform: rotateZ(-80deg) translateY(-170px) translateX(100px) scale(0.78);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0.4px);
}

.animation-state-finish .log-in-card.above {
    transform-origin: left top;
    transform: rotateZ(5deg) translateY(0px) scale(1);
    opacity: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    filter: blur(0);
}

.animation-state-finish .sign-up-card.below {
    filter: blur(0.4px);
    transform: rotateZ(-90deg) translate3d(0, 100px, 0) scale(0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0.7;
}

.login-btn, 
.signup-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-btn:focus,
.signup-btn:focus {
    outline: none;
}