.stats-list {
    background: white;
    padding: .5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.cook-chart {
    background: linear-gradient( #f8f8f9, rgba(165, 223, 204, 0.6)) !important;
    border-radius: 5px;
    padding: 1em;
    margin-left: 4em;
    width: 450px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.spoil-chart {
    background: linear-gradient( #f8f8f9, rgba(223, 165, 165, 0.6)) !important;
    border-radius: 5px;
    margin-left: 4em;
    padding: 1em;
    width: 450px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}
.color {
    color: rgba(255, 0, 0, 0.9);
    color: rgba(255, 166, 0, 0.9);
    color: rgba(255, 255, 0, 0.9);
    color: rgba(218, 165, 32, 0.9);
    color: rgba(0, 128, 0, 0.9);
    color: rgba(0, 128, 128, 0.9);
    color: rgba(0, 0, 255, 0.9);
    color: rgba(128, 0, 128, 0.9);
}