.main-nav {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background: whitesmoke;
    box-shadow: 0 8px 6px -6px black;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.nav-left {
    display: flex;
}

.nav-left .logo {
    width: 50px;
    height: 50px;
    margin-right: 2em;
}